extends layout 

block content 
    h1 #{title}
    ul
    each film in films 
        li 
            a(href="/api/v1/filmovi/" + film._id)= film.title
    button
        a#deleteAll(href="#") Delete All Films
    