doctype html
html
    head
        title Film Buff
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    body   
        ul
            li 
                a(href="#") Home
            li
                a(href="/api/v1/filmovi") Films
            li
                a(href="/api/v1/filmovi/add") Add Film

        block content
        br
        br
        br
        br
        br
        br
        br
        hr
        footer
            p Copyright &copy; 2020
        script(src="/js/main.js")