extends layout 

block content 
    h3 #{name}'s Film Library
    br
    br
    h4 My Watchlist
        ul
        each film in filteredFilms
            li= film.title
            li= film.grade
            br

